{% load openid_tags i18n %}

<div class="account-bar">
{% if user.is_authenticated %}
    {% ifopenid %}<img src="{{ STATIC_URL }}images/openid-icon.png" alt="Logged in with OpenID" />{% endifopenid %}<b>{{ user }}</b>
    |
    <a href="{% url acct_email %}">{% trans "Account" %}</a>
    |
    {% if user.sponsorship and user.sponsorship.active %}
    <a href="{% url sponsor_detail user.sponsorship.pk %}">{% trans "Manage Sponsorship" %}</a>
    |
    {% endif %}
    {% if user.is_staff %}
        <a href="{% url review_list %}">{% trans "Proposal Review" %}</a> 
        |
        <a href="{% url admin:index %}">Admin</a>
        |
        <a href="#" onclick="$('a.boxes-edit-link').toggle();return false;">{% trans "Edit Content" %}</a>
        |
    {% endif %}
    <a href="{% if request.openid %}{% url openid-logout %}?next={% url acct_logout %}{% else %}{% url acct_logout %}{% endif %}">Logout</a>
{% else %}
    <a href="{% url acct_login %}">{% trans "Log in" %}</a> or <a href="{% url acct_signup %}">{% trans "Sign Up" %}</a>
{% endif %}
</div>
<div class="clear"></div>
