{% load wakawaka_tags i18n common %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="{% re_active request "^/2012/$" %}">
                        <a href="{% url home %}" id="link-about">{% trans "Homepage" %}</a>
                    </li>
                    <li class="{% active request "/2012/about/" %}">
                        <a href="{% url about %}" id="link-about">{% trans "About" %}</a>
                    </li>
                    <li class="{% active request "/2012/program/" %}">
                        <a href="{% url program %}" id="link-program">{% trans "Program" %}</a>
                    </li>
                    <li class="{% active request "/2012/speaker/" %}">
                        <a href="{% url speaker_dashboard %}" id="link-speakers">{% trans "Speakers" %}</a>
                    </li>
                    <li class="{% active request "/2012/registration/" %}">
                        <a href="{% url registration %}" id="link-registration">{% trans "Registration" %}</a>
                    </li>
                    <li class="{% active request "/2012/venue/" %}">
                        <a href="{% url venue_detail %}" id="link-venue">{% trans "Venue" %}</a>
                    </li>
                    <li class="{% active request "/2012/sponsors/" %}">
                        <a href="{% url wakawaka_page 'sponsors' %}" id="link-sponsors">{% trans "Sponsors" %}</a>
                    </li>
                    <li class="{% active request "/2012/blog/" %}">
                        <a href="/2012/blog/" id="link-blog">{% trans "Blog" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
