<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'pycontw pycon.tw #pycontw',
  interval: 30000,
  title: 'PyCon TW 2012',
  subject: '',
  width: 295,
  height: 265,
  theme: {
    shell: {
      background: '#006f82',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    behavior: 'default'
  }
}).render().start();
</script>
