{% extends "site_base.html" %}
{% load boxes_tags biblion_tags sponsors_pro_tags thumbnail i18n %}

{% block body_class %}home{% endblock %}

{% block slogan %}
{% endblock %}

{% block header_extra_base %}
    <div id="python"></div>
{% endblock %}

{% block body %}

    {% comment %}
    {% sponsors as sponsors %}
    <div class="mainbox">
        {% box "mainbox" %}
    </div>
    {% endcomment %}
    <div class="row">
        <div class="span9">
            <div id="whatispycon">
                <h1>{% trans "What is PyCon?" %}</h1>

                {% box "homepage_main" %}

                <p class="learn-more"><a href="{% url wakawaka_page 'about' %}">{% trans "Learn more" %}...</a></p>
            </div>

            <h1><span>{% trans "Announcements" %}</span></h1>

            {% latest_blog_posts as posts %}
            {% for post in posts %}
                <div class="blog-post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    {% include "biblion/dateline.html" %}
                    <div class="teaser">{{ post.teaser_html|safe }}</div>
                </div>
            {% empty %}
            <p>{% trans "No blog posts have been published." %}</p>
            {% endfor %}
        </div>

        {% comment %}
        <div class="span3">
            <div class="sponsor">
                <img src="http://placehold.it/180x75&text=Sponsor" />
            </div>
            <div class="sponsor">
                <img src="http://placehold.it/180x75&text=Sponsor" />
            </div>
        </div>
        {% endcomment %}
    </div>

    {#  SECTION: silver and media sponsors #}
    {% comment %}
    <div class="span-24 last">
        <hr />
        <div class="other-sponsors">
            <h6>Sponsors</h6>
            <a href="{% url sponsor_list %}">
            {% for sponsor in sponsors %}
                {% thumbnail sponsor.website_logo "100x60" format="PNG" as logo %}
                    <span><img src="{{ logo.url }}" style="margin:{{ logo|margin:"100x60" }}" alt="{{ sponsor.name }}" width="{{ logo.x }}" height="{{ logo.y }}" /></span>
                {% endthumbnail %}
            {% endfor %}
            </a>
        </div>
    </div>
    {% endcomment %}
{% endblock %}

{% block extra_body %}
    {% if sponsors|length > 6 %}
        <script src="{{ STATIC_URL }}js/jquery.cycle.all.js" type="text/javascript"></script>
        <script>
            $(function(){
                $('#slider li:first').fadeIn(1000, function() {
                    $('#slider').cycle({ pager: '#slider-nav', timeout: 7000 });
                });
            });
        </script>
    {% endif %}
{% endblock %}
