{% extends "site_base.html" %}

{% block body_class %}full review{% endblock %}

{% block subnav %}
    <ul class="nav nav-pills">
        <li class=""><a href="{% url review_list %}">All reviews</a></li>
        <li><a href="{% url review_list_user user.username %}">Your reviews</a></li>
        <li><a href="{% url review_stats %}">Stats</a></li>
        <li>
        {% if is_reviewer_admin %}
            <a href="{% url review_admin %}">Admin</a>
        {% endif %}
        </li>
    </ul>
{% endblock %}

{% block right %}{% endblock %}
