{% extends "proposals/base.html" %}

{% load markitup_tags i18n %}
{% load bootstrap %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css" />
    <style>
        .uniForm .formHint {
            width: 99%;
            line-height: 12pt;
            margin-top: 8px;
        }
        #div_id_extreme label {
            display: inline;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Edit: {{ proposal.title }}</h1>
    
    <p><a href="{% url proposal_speaker_manage proposal.pk %}">{% trans "Manage speakers" %}</a></p>
    
    {% markitup_media %}
    <form method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|bootstrap }}
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="save" />
            </div>
        </fieldset>
    </form>
{% endblock %}
