{% extends "proposals/base.html" %}

{% load boxes_tags %}
{% load i18n %}
{% load markitup_tags %}
{% load bootstrap %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css" />
    <style>
        .uniForm .formHint {
            line-height: 12pt;
            margin-top: 8px;
            width: 99%;
        }
        #div_id_kind ul li {
            display: inline;
        }
        #div_id_extreme label {
            display: inline;
        }

    </style>
{% endblock %}


{% block content %}
    <h1>{% trans "Submit A Proposal" %}</h1>
    
    {% box "example_proposal" %}
    
    {% markitup_media %}
    <form method="post" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|bootstrap }}
            <div class="form-actions">
                <p>
                    {% trans "You will be able to edit your proposal after it has been submitted. The program committee may ask questions, provide feedback, and even suggest changes to your proposal as part of the review processes." %}
                </p>
                <input class="btn btn-primary" type="submit" name="finish" value="Save" />
                <!-- <span style="float: right; padding: 4px 6px">or</span> -->
                <input class="btn" type="submit" name="add-speakers" value="Save and Add Additional Speakers" />
            </div>
        </fieldset>
    </form>
{% endblock %}
