{% extends "venue/base.html" %}
{% load boxes_tags i18n %}

{% block body_id %}venue-info{% endblock %}

{% block content %}
    <div id="venue-map">
        <iframe width="675" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msid=212122690986644916988.0004b8d8cc16047ff3193&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=25.043576,121.61612&amp;spn=0.007776,0.026565&amp;z=15&amp;output=embed"></iframe><br /><small>{% trans "View on a larger map" %} <a href="http://maps.google.com/maps/ms?msid=212122690986644916988.0004b8d8cc16047ff3193&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=25.043576,121.61612&amp;spn=0.007776,0.026565&amp;z=15&amp;source=embed">{% trans "Building of Humanity and Social Sciences" %}</a></small>
    </div>

    {% box "venue_info" %}

{% endblock %}
